In [ ]:
view(starwars)
sw <- starwars %>% 
  select(name, height, mass, gender) %>% 
  rename(weight = mass) %>% 
  na.omit() %>% 
  mutate(height = height / 100) %>% 
  filter(gender == "male" | 
           gender == "female") %>% 
  filter(gender %in% c("male", "female")) %>% 
  mutate(gender = recode(gender, mase = "m", female = "f")) %>% 
  mutate(size = height > 1.7 & weight > 75, size = if_else(size == TRUE, "big", "small"))

This is looking at the data set of the starwars characters wich shows the name, height, mass, hair color, skin color, eye color, birth year, gender and a few other details. I only wanted to look at the height, weight, name and gender of the characters, so the 3rd line selects only that. The weight was changed from "weight" to "mass" and the height was converted from cm to m. The column of "male" and "female" was simplified to "m" or "f". In the character list there was also droids and alien species so those had to be omited from the new table. Finaly the characters where classified as "big" or "small" depending on their mass and height; if they were more than 75 kg or taller than 1.7 m then they were considered big.

I encountered some issues when trying to use the pipe oprtator and in retrieving the data from starwars because rstudio kept saying that %>% wasnt a valid function and that view(starwars) couldnt be found. I learned this from a youtube video https://www.youtube.com/watch?v=KQuPsYHG1TI&list=PLtL57Fdbwb_Chn-dNR0qBjH3esKS2MXY3&index=8&ab_channel=RProgramming101 which explained how to mutate, select, filter and creating new variables